.collections {
	@extend %cover;

	background: $color-quicksand;
}

.collections__wrapper {
	@extend %cover;

	overflow: hidden;
}

.collections__titles {
	@extend %vertical-titles;
}

.collections__titles__label {
	@extend %vertical-titles__label;
}

.collections__titles__title {
	@extend %vertical-titles__title;
}

.collections__gallery {
}

.collections__gallery__wrapper {
	display: flex;
	align-items: center;
	@extend %position-center;
}

.collections__gallery__media__link {
	display: block;
	margin: 0 5.3rem;
}

.collections__gallery__media {
	position: relative;
	height: 63.1rem;
	width: 44.7rem;
}

.collections__gallery__media__image {
	@extend %cover;
}

.collections__content {
	@extend %cover;
}

.collections__article {
	position: absolute;
	left: 8rem;
	bottom: 8rem;
	opacity: 0;

	&--active {
		opacity: 1;
	}
}

.collections__article__title {
	@extend %title-60;
}

.collections__article__description {
	@extend %description-16;

	max-width: 46rem;
}
